<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Artist List</title>
</head>
<body>
<h1>Artists</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="artist : ${artists}">
        <td th:text="${artist.id}"></td>
        <td th:text="${artist.firstName}"></td>
        <td th:text="${artist.lastName}"></td>
    </tr>
</table>
<form action="/artists/search" method="get">
    <input type="text" name="searchTerm" placeholder="Search artists..." value="${searchTerm}">
    <button type="submit">Search</button>
</form>

</body>
</html>
